{% extends "layout.html" %}
{% block body %}

<form name = "form" action = "/upload" method = "post" enctype = "multipart/form-data">
         
         <div style = "max-width:470px;">
            <center> 
               <input type = "file" style = "margin-left:20%;"  name = "file" />
            </center>
         </div>
			
         <br>
                
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:50px; margin-top:8%;
                  height:35px; width:20%;margin-left:19%;" type = "submit" 
                  value = "Predict" >
                  <strong>Predict</strong>
               </button>
               
            </center>
         </div>
         
</form>
	  
{% endblock %}