
<form name = "form" action = "/selectVariable" method = "post" enctype = "multipart/form-data">
         
         <div style = "max-width:470px;">
            <center>
			   <p> Select the depandant variable </p>
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "" name = "dependant" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:50px; margin-top:8%;
                  height:35px; width:20%;margin-left:19%;" type = "submit" 
                  value = "Predict" >
                  <strong>Predict</strong>
               </button>
               
            </center>
         </div>
         
</form>
