<html>
  <body>
<form name = "form" action = "/upload" method = "post" enctype = "multipart/form-data">
         
         <div style = "max-width:470px;">
            <center> 
               <p> enter Values</p>
			  
			    <input type = "number" style = "margin-left:20%;" 
                  placeholder = "sepal-length" name = "sepal-length" />
				  <br><br>
			    <input type = "number" style = "margin-left:20%;" 
                  placeholder = "sepal-width" name = "sepal-width" />
				  <br><br>
				<input type = "number" style = "margin-left:20%;" 
                  placeholder = "petal-length" name = "petal-length" />
				  <br><br>
				<input type = "number" style = "margin-left:20%;" 
                  placeholder = "petal-width" name = "petal-width" />
            </center>
         </div>
			
         <br>
                
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:50px; margin-top:8%;
                  height:35px; width:20%;margin-left:19%;" type = "submit" 
                  value = "Predict" >
                  <strong>Predict</strong>
               </button>
               
            </center>
         </div>
         
    </form>
	  
  </body>
</html>